@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright_Yellow: hsl(71, 73%, 54%);
  --Light_Gray: hsl(204, 43%, 93%);
  --Grayish_Blue: hsl(218, 22%, 67%);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 74px 25px;
  box-shadow: 1px 5px 15px rgba(62, 99, 100, 0.4);
  border-radius: 6px;
  overflow: hidden;
}

.card {
  padding: 3px 22px 0 22px;
  color: var(--Light_Gray);
}

.card1 {
  height: 268px;
}
.card1-title {
  color: var(--Cyan);
  font-size: 23px;
}
.card1-subtitle {
  color: var(--Bright_Yellow);
  font-size: 17px;
}
.card1-parrafo {
  font-size: 12.9px;
  color: var(--Grayish_Blue);
  line-height: 23px;
}

.card2 {
  background-color: var(--Cyan);
  height: 228px;
}
.card2-title {
  font-size: 18px;
}
.card2-price {
  display: flex;
  color: #fff;
  font-size: 30px;
  margin: 1px 0 0 0;
  align-items: center;
}
.card2-price span {
  font-size: 15px;
  font-weight: 200;
  margin: 0 0 0 14px;
}
.card2-text {
  margin: 8px 0 0 0;
  font-weight: 200;
  font-size: 14px;
}
.card2 button {
  border: none;
  min-width: 100%;
  height: 49px;
  background-color: var(--Bright_Yellow);
  color: var(--Light_Gray);
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  margin: 33px auto;
  text-align: center;
  box-shadow: 1px 5px 15px rgba(62, 99, 100, 0.4);
}

.card3 {
  background-color: #4ABEBD;
  height: 238px;
}
.card3-title {
  font-size: 18px;
}
.card3 li {
  font-weight: 200;
  list-style-type: none;
  margin: 0 0 3px 0;
}

@media only screen and (min-width: 378px) {
  .container {
    box-shadow: none;
    gap: 15px;
  }
  .card {
    width: 330px;
    box-shadow: 4px 5px 10px rgba(62, 99, 100, 0.4);
    align-self: center;
    border-radius: 6px;
  }
  .card1 {
    align-self: flex-start;
  }
  .card3 {
    align-self: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    box-shadow: 1px 5px 15px rgba(62, 99, 100, 0.4);
    width: 340px;
    height: 230px;
  }
}
@media only screen and (min-width: 1126px) {
  .container {
    margin: auto;
  }
  .card {
    box-shadow: 1px 5px 10px rgba(62, 99, 100, 0.4);
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 633px;
    height: 478px;
    box-shadow: 1px 5px 15px rgba(62, 99, 100, 0.4);
    gap: 0;
  }
  .card {
    padding: 20px 22px 0 22px;
    box-shadow: none;
    border-radius: 0px;
  }
  .card1 {
    width: 100%;
    grid-column: 1/3;
  }
  .card1 button {
    margin: 421px auto;
  }
  .card1-title {
    font-size: 26px;
  }
  .card1-subtitle {
    font-size: 21px;
  }
  .card1-parrafo {
    font-size: 17px;
    line-height: 28px;
  }
  .card2 {
    width: 101%;
    align-self: flex-end;
    height: 100%;
  }
  .card2 button {
    margin: 42px auto;
  }
  .card3 {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */